
#config {
  padding-top: 1em;
  padding-bottom: 1em;
  footer {
    &>.container {
      border-top: #dbdbdb solid 1px;
      padding: 1em;
    }
  }
  .gamer/*, .battle*/ {
    .image {
      position: relative;
      max-width: 4em;
    }
    .header {
      //width: 100%;
    }
  }
  .battle, .gamer {
    .image.user-lose:after {
      content: '';
      display: block;
      position: absolute;
      width: .3em;
      height: 100%;
      background-color: @gamers-color;
      transform: rotateZ(.5rad);
      top: 0;
      left: 48%;
    }
  }
  .battles {
    .battle {
      position: relative;
      &:first-child .battle-hr:before {
        display: none;
      }
      & + .battle {
        border-top: 1px solid rgba(219,219,219,.5);
      }
    }
    & > .columns {
      margin-bottom: 0;
    }
    .select-input {
      padding-top: 2.3rem;
    }
  }
  .select-input {
    padding-top: 1em;
    label {
      .button {
        height: 1.63rem;
        line-height: 1;
      }
      input:checked + .button {
        background-color: #ffeebb;
        &:after {
          content: '✓';
          display: block;
          position: absolute;
          left: .3em;
          top: .2em;
        }
      }
      &.new-checkboxes {
        input + .button {
          background-color: rgba(0, 192, 11, 0.68);
          &:after {
            content: '✓';
            display: block;
            position: absolute;
            left: .3em;
            top: .2em;
          }
        }
        input[value="1"] + .button {
          background-color: #ffeebb;
          &:after {
            content: '';
          }
        }
        input[value="0"] + .button {
          background-color: #ff7983;
          &:after {
            content: 'x';
            left: .4em;
          }
        }
      }
    }
  }
  ._classes .select-input {
    padding-right: .5rem;
    margin-top: 0;
    padding-top: 0;
    .button {
      border-radius: 0;
    }
    .select + label {
      top: .3rem;
      position: relative;
    }
  }
  #peoples {
    position: relative;
    .force-update {
      position: absolute;
      right: 1rem;
      top: .2rem;
    }
  }
  .delete-battle-button {
    padding: .7rem;
    line-height: 0;
    font-size: 0;
    margin-top: .5rem;
    position: relative;
    &:after {
      content: 'X';
      position: absolute;
      left: .4rem;
      top: .7rem;
      display: block;
      font-size: 14px;
    }
  }
  .current-batle {
    .title {
      padding-top: 1rem;
    }
    .image {
      max-width: 12rem;
    }
    & + .current-batle {
        padding-top: 2rem;
    }
    .has-input {
        max-width: 10rem;
    }
  }
  .save-all-gamers {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    text-align: center;
    .button-wrapper {
      position: absolute;
      //right: 1rem;
      top: 4rem;
      display: inline-block;
    }
  }
  .camera-btn {
    a.button:after {
      display: none!important;
    }
  }
}
