<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>Config</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>tabs {display: none;}</style>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vue-snotify@latest/styles/material.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<section class="content-wrapper fill-height" id="config">
    <div class="container">
        <div class="row">
            <div id="peoples">
                <tabs>
                    <tab name="Gamers list">
                        <h2 class="title">Gamers list</h2>
                        <div class="gamers">
                            <div v-for="(item, index) in gamers" class="gamer media">
                                <div class="media-left">
                                    <div class="image" :class="{'user-lose': !item.active}">
                                        <img :src="'/img/users/'+(index+1)+'.png'"
                                             onerror="this.src='/img/users/_default.png'">
                                        <!--<img src="/img/users/1.png">-->
                                    </div>
                                </div>
                                <div class="name media-content">
                                    <div class="header field">
                                        <label class="subtitle">Gamer config <sup>({{ index+1 }})</sup>
                                            <input type="checkbox" :checked="item.active" v-model="item.active">
                                        </label>
                                    </div>
                                    <div class="field _classes">
                                        <div class="field has-addons">
                                            <div class="select-input control" v-for="cl in item.classes">
                                                <div class="select">
                                                    <select v-model="cl.class">
                                                        <option v-for="i in classes">{{ i }}</option>
                                                    </select>
                                                </div><label class="new-checkboxes">
                                                    <input class="is-hidden" type="hidden" :value="cl.status"
                                                    ><a class="button is-light" @click="changeStatus(cl)"></a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="field has-addons level">-->
                                    <div class="field level">
                                        <div class="control">
                                            <input class="input" v-model="item.name">
                                        </div>
                                        <div class="control">
                                            <!--<a class="button" @click="updateGamers()">Save all</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="gamers.length" class="save-all-gamers">
                                <div class="container">
                                    <div class="row">
                                        <div class="button-wrapper">
                                            <a class="button is-dark" @click="updateGamers()">Save all</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab name="Battles list">
                        <h2 class="title">Battles list</h2>
                        <form class="battles columns is-multiline is-mobile">
                            <div v-for="(battle, battle_index) in battles" class="battle columns is-mobile column is-12">
                                <div class="battle-hr"></div>
                                <div v-for="(item, index) in battle.gamers" class="user columns is-mobile column is-6">
                                    <div class="is-flex-mobile select-input has-text-centered column is-3-touch is-4-mobile">
                                        <label v-if="index%2 == 0" class="is-padding-mobile" title="Active battle">
                                            <input class="is-hidden" type="radio" name="battle"
                                                   v-model="activeBattle"
                                                   :checked="activeBattle == battle_index"
                                                   :value="battle_index">
                                            <a class="button is-light"></a>
                                        </label>
                                        <a v-if="index%2 == 0" class="button delete-battle-button"
                                           @click.ctrl="deleteBattle(battle_index)" title="DELETE BATTLE"></a>
                                    </div>
                                    <div class="is-flex-mobile column is-6-mobile is-2-desktop is-3-tablet has-text-centered">
                                        <div class="image" :class="{'user-lose': !gamers[item].active}">
                                            <!--<img src="/img/users/1.png">-->
                                            <img :src="'/img/users/'+(index+1)+'.png'"
                                             onerror="this.src='/img/users/_default.png'">
                                        </div>
                                    </div>
                                    <div class="name column is-9-tablet is-hidden-mobile">
                                        <h3 class="select">
                                            <select v-model="battle.gamers[index]">
                                                <option v-for="(gamer, gamer_index) in gamers"
                                                        :value="gamer_index">{{ gamer.name }}</option>
                                            </select>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div v-if="gamers.length" class="has-text-centered">
                            <a class="button is-dark" @click="addBattle()">Add battle</a>
                            <a class="button" @click="setActiveBattle()">Save</a>
                        </div>
                    </tab>
                    <tab name="Current battle">
                        <h2 class="title">Current battle</h2>
                        <div class="current-batle media" v-if="gamers.length">
                            <div v-for="(gamer, index) in (battles[activeBattle] || {}).gamers" class="tile is-vertical is-6">
                                <div class="image"><img :src="'/img/users/' + (1 + gamer) + '.png'"
                                                        onerror="this.src='/img/users/_default.png'"></div>
                                <!--<div class="image"><img :src="'/img/users/' + 1 + '.png'"></div>-->
                                <h2 class="title">
                                    {{ gamers[gamer].name }}
                                </h2>
                                <h3 class="has-input">
                                    <input class="input" v-model="activeBattleCounter[index]">
                                </h3>
                            </div>
                        </div>
                        <!--
                        <div class="camera-btn">
                            <h3 class="">Enable camera overlays</h3>
                            <form class="radio-btns select-input">
                                <label>
                                    <input class="is-hidden" type="radio" value="1" name="camera" v-model="camera">
                                    <a class="button">ON</a>
                                </label>
                                <label>
                                    <input class="is-hidden" type="radio" value="0" name="camera" v-model="camera">
                                    <a class="button">OFF</a>
                                </label>
                            </form>
                        </div>
                        -->
                        <div v-if="gamers.length" class="current-batle has-text-centered">
                            <a class="button" @click="saveActiveBattleCounter()">Save</a>
                        </div>
                    </tab>
                </tabs>
                <a class="force-update button is-info" @click="forceUpdate()">Force update</a>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
            <b class="btn-group">
                <a class="button is-primary dotted" target="_blank" href="/gamers.html"><span>gamers</span></a>
                <a class="button is-primary dotted" target="_blank" href="/gamers.html#without-camera"><span>gamers without camera</span></a>
                <a class="button is-primary dotted" target="_blank" href="/statistic.html"><span>statistic</span></a>
            </b>
            </div>
        </div>
    </footer>
    <vue-snotify></vue-snotify>
</section>

<!--Powered by https://github.com/1271-->

<script src="/js/q.min.js"></script>
<script src="/js/wsrpc.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--<script src="https://rawgit.com/vuejs/vue/dev/dist/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue-snotify@latest/vue-snotify.min.js"></script>
<script src="/js/vue-components.js"></script>

<script src="/js/common.js"></script>
</body>
</html>