<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Statistic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="prefetch" href="/static/img/classes/druid.png">
    <link rel="prefetch" href="/static/img/classes/hunter.png">
    <link rel="prefetch" href="/static/img/classes/mage.png">
    <link rel="prefetch" href="/static/img/classes/paladin.png">
    <link rel="prefetch" href="/static/img/classes/priest.png">
    <link rel="prefetch" href="/static/img/classes/rogue.png">
    <link rel="prefetch" href="/static/img/classes/shaman.png">
    <link rel="prefetch" href="/static/img/classes/warlock.png">
    <link rel="prefetch" href="/static/img/classes/warrior.png">
</head>
<body>
<section class="content-wrapper fill-height" id="statistic">
    <div class="img">
        <img src="/img/statistic.png">
    </div>
    <div class="classes-wrapper">
        <div class="classes">
            <div v-for="(gamer, index) in (battles[activeBattle] || {}).gamers" :class="'user-' + (index + 1)">
                <div class="name">
                    {{ gamers[gamer].name }}
                </div>
                <div v-for="c in gamers[gamer].classes" class="class" @status="c.status" :class="{'class-lose': c.status == '0', 'class-win': c.status == '2'}">
                    <i :class="c.class"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="counters">
        <div v-for="(gamer, index) in (battles[activeBattle] || {}).gamers" :class="'user-' + (index + 1)">
            <div class="counter">{{ activeBattleCounter[index] }}</div>
        </div>
    </div>
</section>

<script src="/js/q.min.js"></script>
<script src="/js/wsrpc.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--<script src="https://rawgit.com/vuejs/vue/dev/dist/vue.js"></script>-->
<!--<script src="/js/vue-components.js"></script>-->
<script src="/js/common.js"></script>
</body>
</html>